


 <div class="panel panel-default">
 	<div class="panel-heading">All Products</div>
 	<div class="panel-body">
 		<table class="table table-condensed table-bordered table-hover">
 			<tr *ngFor="let product of products">
 				<td>{{product.id}}</td>
 				<td>{{product.name}}</td>
 				<td>{{product.price | currency:'INR':true}}</td>
 				<td>{{product.makeDate|date}}</td>
 				<td><a class="btn"><span class="glyphicon glyphicon-edit"></span></a></td>
 				<td><a class="btn" (click)="delete(product.id)"><span class="glyphicon glyphicon-trash"></span></a></td>
 			</tr>
 		</table>
 		<div class="alert alert-info" *ngIf="message">{{message}}</div>
 	</div>	
 </div>