<div class="row">

  <div class="col-xs-8 col-sm-6 col-md-6">

    <div class="panel panel-default">
      <div class="panel-heading">Story Form</div>
      <div class="panel-body">
        <form [formGroup]="storyForm" (submit)="handleStorySubmit()">
          <div class="form-group">
            <label>Name</label>
            <input class="form-control" formControlName="name" />
          </div>
          <div class="form-group">
            <label>story</label>
            <textarea class="form-control" formControlName="story"></textarea>
          </div>
          <button class="btn">submit</button>
        </form>
      </div>
    </div>

  </div>

</div>